<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Seeglass"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Seeglass"
        android:supportsRtl="true">

        <activity
            android:name=".ShelfActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PlaceActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

    </application>
</manifest>
